*{
    margin: 0;
    padding: 0;
}
img {
    width: 25%;
}

.logotren {
    display: flex;
    align-items: center;
}

.formsearch {
    padding-left: 30px;
}

ul.menungang{
    display: flex;
    list-style: none;
    width: 900px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;
}
.menutren{
    background-color: rgb(43, 32, 32);
    width: 100%;
    display: flex;
    align-items: center;
}

ul.menungang a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: yellow;
    font-size: 15px;
    display: block;
    padding-top: 7px;
    padding-left: 45px;
    padding-right: 45x;
    transition: 0.3s;
}
ul.menungang a:hover {
    color: rgb(174, 185, 52);
}
ul.menungang input[]{
    float: right;
}

.slideshow {
    background-color: blue;
}

.slideshow img {
    object-fit: fill;
    width: 100%;
    height: 200px;
}

/* CSS của mục contact */

body{
    background-color: #e1f4f1;
    font-size: 14px;
    font-family: 'Poppins' sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    display: flex;
    background: white;
}
.contact-left{
    flex-basis: 60%;
    padding: 20px 40px;
}
.contact-right{
    flex-basis: 40%;
    padding: 20px;
    background-color: rgb(49, 43, 244);
    color: white;
}
h1{
    margin-bottom: 10px;
    padding-top: 2%;
    padding-left: 10%;
}
p{
    padding-left: 10%;
    font-size: 15px;
}
h3{
    font-size: 200%;
}
.container p{
    margin-bottom: 40px;
}
button{
    background: rgb(67, 67, 240);
    width: 100px;
    border: none;
    color: whitesmoke;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0 , 181, 0.3);
}
.contact-left h3{
    color: #1904f8;
}
tr rd:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 30px;
    padding-left: 20px;
}
